
<header>
  <% if (!username) { %>
    <form method="POST" action="/login">
      user name =
      <input type="text" name="username">
      <input type="submit" value="sign in">
    </form>
  <% } else{ %>
    <h1> Logged In: <%= username %>
    <form method="POST" action="/logout">
      <button> logout </button>
    </form> </h1>
  <% } %>
</header>