
<header>
  <% if (!user) { %>
    <a href="/login"> Login </a> &nbsp;&nbsp;
    <a href="/register"> Register </a>
  <% } else{ %>
    <h4> Logged In: <%= user %>
    <form method="POST" action="/logout">
      <button> logout </button>
    </form> </h4>
  <% } %>
</header>