<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
    <h2>Welcome to TinyApp!</h2>
      <p> First time at TinyApp? Don't worry! Please <a href='/register'>register here </a> to start your url-shortening journey! </p>
      <p> Please <a href='/login'> login here </a> to view your urls!</p>
</body>
</html>