<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>
  <h1> Log In Now </h1>
    <form method="POST" action="/login">
      Email Address =
      <input type="email" name="email">
      Password =
      <input type="password" name="password">
      <input type="submit" value="login">
    </form>
</body>
</html>