<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include ./partials/_header %>
  </header>

  <table>
  <% Object.keys(userSpecificURLs).forEach(function(shortURL) { %>
    <tr>
      <td> <%= shortURL %> </td>
      <td> <%= userSpecificURLs[shortURL]["longURL"] %> </td>
      <td> <form method="POST" action="/urls/<%= shortURL %>/delete"> <button> delete </button> </form>
      </td>
    </tr>
  <% }) %>
  </table>


  <a href='/urls/new'> add urls! </a>

</body>
</html>